
docs/create-asp-net-vm-with-webdeploy.md
docs/help-me-choose.md
docs/images/decision-tree.png
docs/migrate-sql-server.md
docs/migrate-to-vm.md
docs/publish-web-app-from-visual-studio.md
docs/webapp-migrate-devcenter.md
media/create-asp-net-vm-with-webdeploy/01CreateNewVM.png
media/create-asp-net-vm-with-webdeploy/02NewVMStep1.png
media/create-asp-net-vm-with-webdeploy/03NewVMStep2.png
media/create-asp-net-vm-with-webdeploy/04NewVMStep4.png
media/create-asp-net-vm-with-webdeploy/05DashboardDeploying.png
media/create-asp-net-vm-with-webdeploy/06NotificationDeployInProgress.png
media/create-asp-net-vm-with-webdeploy/07DeployingStatus.png
media/create-asp-net-vm-with-webdeploy/08NotificationDeploySuccessful.png
media/create-asp-net-vm-with-webdeploy/09DeployingStatusDone.png
media/create-asp-net-vm-with-webdeploy/10ConnectToVM.png
media/create-asp-net-vm-with-webdeploy/11WarningUnkonwnPublisher.png
media/create-asp-net-vm-with-webdeploy/12EnterCredentials.png
media/create-asp-net-vm-with-webdeploy/13WarningSecurityCertificate.png
media/create-asp-net-vm-with-webdeploy/14ServerManagerDashboard.png
media/create-asp-net-vm-with-webdeploy/15WebServerRole.png
media/create-asp-net-vm-with-webdeploy/16ConfirmFeaturesIIS.png
media/create-asp-net-vm-with-webdeploy/17SelectFeatureManagementService.png
media/create-asp-net-vm-with-webdeploy/18ConfirmFeatureASPNET.png
media/create-asp-net-vm-with-webdeploy/19ConfirmConfigChange.png
media/create-asp-net-vm-with-webdeploy/20InstallFeatures.png
media/create-asp-net-vm-with-webdeploy/21InstallFeaturesComplete.png
media/create-asp-net-vm-with-webdeploy/22IISinServerManager.png
media/create-asp-net-vm-with-webdeploy/23DisableIEEnhancedSecurity.png
media/create-asp-net-vm-with-webdeploy/24IEFirstLaunch.png
media/create-asp-net-vm-with-webdeploy/25WebDeployDownloadSite.png
media/create-asp-net-vm-with-webdeploy/26WebDeployDownloadPage.png
media/create-asp-net-vm-with-webdeploy/27ThankYouForDownloadingWebDeploy.png
media/create-asp-net-vm-with-webdeploy/28InstallWebDeploy.png
media/create-asp-net-vm-with-webdeploy/29WebDeployFeatures.png
media/create-asp-net-vm-with-webdeploy/30ConfirmServices.png
media/create-asp-net-vm-with-webdeploy/31ConfirmFirewallRules.png
media/create-asp-net-vm-with-webdeploy/32AzureFirewallRules.png
media/create-asp-net-vm-with-webdeploy/33CreateAzureFirewallRule.png
media/create-asp-net-vm-with-webdeploy/CreateAzureVM.png
media/create-asp-net-vm-with-webdeploy/RolesAndFeatures.png
media/publish-web-app-from-visual-studio/AzureVMSelector.png
media/publish-web-app-from-visual-studio/CertificateError.png
media/publish-web-app-from-visual-studio/ChooseVM-SelectAccount.png
media/publish-web-app-from-visual-studio/ChooseVM-SelectVM.png
media/publish-web-app-from-visual-studio/IPAddressConfigDNSName.png
media/publish-web-app-from-visual-studio/OutputWindow.png
media/publish-web-app-from-visual-studio/PublishPageMicrosoftAzureVirtualMachineIcon.png
media/publish-web-app-from-visual-studio/PublishPagePublishButton.png
media/publish-web-app-from-visual-studio/PublishPageRightArrow.png
media/publish-web-app-from-visual-studio/PublishPageSettingsButton.png
media/publish-web-app-from-visual-studio/PublishSettingsConnectionPage.png
media/publish-web-app-from-visual-studio/PublishSettingsSettingsPage.png
media/publish-web-app-from-visual-studio/VMOverviewDNSConfigured.png
media/publish-web-app-from-visual-studio/VMOverviewDNSName.png
media/publish-web-app-from-visual-studio/WebDeployLogin.png
VMSetup/ASPNet-ARMTemplate.json
VMSetup/CreateAzureVMForWebDeploy.md
VMSetup/README.md
VMSetup/Resources/WebDeploy_amd64_en-US.msi
VMSetup/setup.ps1
